<%- include('../partials/_header.ejs') %>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <body>

    <%- include('../partials/_navbar.ejs') %>



      <!-- Page Header -->
      <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h1><%= posts.title %></h1>
                <h2 class="subheading"><%= posts.detail %> </h2>
                <span class="meta"><%= posts. dateCreated %>
                  <a href="#">Emre Yıldırım</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Post Content --> 
      <hr>
    
         
    
      <% include('../partials/_footer.ejs') %> 
    
  </body>

  </html>